@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
html,body{
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
    font-family: Poppins;
    font-size: 16px;
    color:#666666;
}
ul{}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#666666;
    font-weight: 500;
    
}
._container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

/*------------------header------------------*/
.header__container{
    display: flex;
    gap:131px;
    min-height: 152px;
    align-items: center;
}
.header__logo{

}
.menu__list{
    display: flex;
    gap:56px;
}
.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 20;
}
/*------------------main------------------*/
.page{
    flex:1 1 auto
}
.page__main {
}
.main {
    padding-bottom: 80px;
}
.main__container {
    display: flex;
}
._container {
}
.main__content {
    align-self: flex-end;
    padding-bottom: 60px;
    padding-right: 20px;
}
.main__title {
}
.main__text {
}
.main_actions {
}
.actions-main {
}
.actions-main__button {
    
}
.actions-main__icon {
}
.main_decor {
}
.decor-main {
}
.decor-main__image {
}