@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
html,body{
    height: 100%;
    min-width: 320px;
}
body{
    line-height: 1;
    font-family: Poppins;
    font-size: 16px;
    color:#666666;
}
ul{}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:#666666;
    font-weight: 500;
    
}
/*-----------------------------------*/
._container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0px 15px;
}
._title{
    font-size: 44px;
    line-height: 52px;
    color:black
}
._title span{
    color:#FF6428
}
/*-----------------------------------*/
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

/*------------------header------------------*/
.header__container{
    display: flex;
    gap:131px;
    min-height: 152px;
    align-items: center;
}
.header__logo{

}
.menu__list{
    display: flex;
    gap:56px;
}
.menu__item{
padding: 5px;
background-color:rgba(255,255,255,0.5);
}
.header{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    z-index: 20;
}
@media(max-width:1092px) {
    .header__container{
        gap:50px;
        min-height: 100px;
    }
    .menu__list{
        gap:40px;
    }
}
@media(max-width:768.98px){
    .header__container{
        min-height: 50px;
    } 
}
@media(max-width:479.98px){
    .menu__list{
        gap:20px
    }
    .header__logo{
        width: 28px;
        overflow: hidden;
        flex: 0 0 28px
    }
    .header__container{
        gap:20px;
    }
    .menu{
        padding: 0;
    }
}
/*------------------main------------------*/
.page{
    flex:1 1 auto
}
.page__main {
}
.main {
    padding-bottom: 80px;
}
.main__container {
    display: flex;
}
._container {
}
.main__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1 1 50%;
    align-self: flex-end;
    padding-bottom: 60px;
    padding-top: 120px;
    padding-right: 20px;
}
.main__title {
    font-size: 3.5rem;
    line-height: 67px;
    color:black;
    margin-bottom: 16px;
}
.main__title span{
    color:#FF6428
}
.main__text {
    margin-bottom: 34px;
    font-size: 1.5rem;
}
.main_actions {
}
.actions-main {
    display: flex;
    gap: 40px;
    align-items: center;
}
.actions-main__button {
    background-color: #FF6428;
    color:white;
    padding: 18px 48px;
    border-radius: 40px;
    text-align: center;
    transition: all 0.3s ease 0s;
}
.actions-main__button:hover{
    background-color:#b03808
}
.actions-main__icon {
}
.main_decor {
    flex:1 1 50%
}
.decor-main {
}
.decor-main__image {
    margin-right: -135px;
    position: relative;
    
   
}
.decor-main__image img{
    max-width: 672px;
}
.decor-main__image::after{
    content: "";
    background: url("./img/Group\ 5189.png");
    width: 80px;
    height: 80px;
    position: absolute;
    right: 36%;
    bottom: 0;
    transform: translate(0,50%);
}
@media(max-width:1092px){
    .decor-main__image img{
        width: 100%;
        
    }
    .main__content {
        flex:0 0 60%;
        padding-bottom: 0;
    }
    .main_decor {
        flex:0 0 40%
    }
}
@media(max-width:767.97px){
    .main_decor {
        display: none;
    }
    .main__content {
        flex: 1 1 100%;
        padding-right: 0;
        padding-top: 80px;
    }
    .main__title {
        font-size: 44px;
    }
}
@media(max-width:497.98px){
    .actions-main__button {
        flex:1 1 100%;
    }
    .actions-main__icon {
        display: none;
    }
}
/*-----------SECTION2--------------*/
.store_title{
    text-align: center;
    margin-bottom: 92px;
}

.page_store {
}
.store {
    padding-top: 80px;
    padding-bottom: 90px;
}
.store_container {
}
._container {
}


.store__body {
}
.body-store {
}
.body-store__header {
    display: flex;
    justify-content: space-between;
    gap:15px;
    margin-bottom: 32px;
}
.body-store__title {
    font-size: 20px;
    line-height: 30px;
    color:black;
    font-weight: 600;
}
.body-store__all {
    font-weight: 500;
    font-size: 20px;
}
.body-store__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 102px;
}
.item__title{
    font-size: 16px;
    font-weight: 500;
    color:#121212;
    line-height: 24px;
    margin-bottom: 7px;
}
.item__price{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.item__image{
    padding-bottom: 40px;
   
}
.img-gitara{
    max-width: 364px;
}
@media(max-width:767.97px){
    .he{
        display: none;
    }
    .item{
        max-width: 50%;
    }
    .img-gitara{
        width: 100%;
    }
}
@media(max-width:497.98px){
    .he{
        display: none;
    } 
    .item{
        max-width: 90%;
    }
    .img-gitara{
        width: 100%; 
    }
    .body-store__items{
        justify-content: center;
    }
    .body-store__items{
        margin-bottom: 0;
    }
    .store_title {
        margin-bottom: 10px;
    }
    .store {
        padding-top: 0px;
    }
    .body-store__title {
        font-size: 16px;
    }
    .main{
        padding-bottom: 18px;
    }
}


/*----------SECTION3----------------------*/
.categories__items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.categories__title{
    text-align: center;
    margin-bottom: 80px;
}
.categories__item{
    position: relative;
    padding: 10px;
}
.item__titlee{
    position: absolute;
    top:80%;
    left: 30px;
    color:white;
    font-weight: 600;
    font-size: 20px;
}
.page_categories{
    padding-bottom: 110px;
}
/*----------------------------SECTION BRAND------------*/
.page__brand{
    
}
.brand__title{
    text-align: center;
    margin-bottom: 96px;
}
.brand__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brand__item{
    width: 25%;
    padding: 40px;
}
@media(max-width:767.97px){
    .brand__item{
        width: 30%;
        padding: 20px;
}
}
@media(max-width:497.98px){
    .brand__item{
        width: 40%;
        padding: 7px;
    }
}
/*---------------------SECTION BLACK--------------------*/

._black{
    background-color: #121212;
}
.page__rhuthm{
    padding-bottom: 94px;
}
.rthuthm__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rhuthm__title{
    color:white;
    text-align: center;
    padding-top: 93px;
    padding-bottom: 75px;
}
.img_rthuthm{
    position: relative;
    margin-bottom: 40px;
}
.img-group{
    position: absolute;
    top:21px;
    left: 22px;
}
.item__title-vidget{
    color:white;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 12px;
}
.item__text-vidget{
    color:#666666;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
}
.rthuthm__item{
    width: 19%;
}
@media(max-width:497.98px){
    .rthuthm__item{
        width: 80%;
    }
    .rthuthm__items{
        justify-content: center;
        align-items: center;
    }
    
    .img_rthuthm {
        margin-bottom: 0;
    }
    .item__text-vidget {
        margin-bottom: 15px;
    }
    .page__rhuthm{
        padding-bottom: 30px;
    }
}
/*---------------------SECTION-CASTOMERS---------*/
.page__castomers{
    padding-bottom: 120px;
}
.castomers__title{
    text-align: center;
    padding-top: 240px;
}
.castomers__body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 109px;
    
}

.body__text-text{
    width: 50%;
    font-weight: 400;
    line-height: 28px;
    font-size: 24px;
    margin-bottom: 56px;
}
.body__img{
    width: 33%;
}
.body__text{
    display: flex;
    flex-direction: column;
   
align-items: flex-end;
}
.body__name{
    align-self: flex-start;
    font-weight: 600;
    font-size: 24px;
    color:#000000;
}
.body__prof{
    text-transform: uppercase;
    align-self: flex-start;
    padding: 8px;
}
@media(max-width:767.97px){
    .castomers__title {
        padding-top: 10px;
    }
    .body__img{
        width: 26%;
    }
    .body__text-text{
        margin-bottom: 30px;
    }
    .body__text-text{
        width: 90%;
    }
    .castomers__body{
        align-items: center;
    }
    .body__prof{
        display: none;
    }
    .body__name{
        display: none;
    }
    .page__castomers{
        padding-top: 20px;
    }
}
@media(max-width:497.98px){
    .castomers__body{
        margin-top: 10px;
    }
    .body__img{
        display: none;
    }
    .body__text-text{
        width: 97%;
    }

}
/*----------------SECTION------BREWSE----------*/
.browse__container{
    display: flex;
    justify-content: space-between;
}
.browse__block1{
    width: 40%;
}
.browse__block2{
width: 48%;
background-color: #FF6428;
border-radius: 70%;
position: relative;
}
.browse_img-1{
    position: absolute;
    top:-60px;
    left: 240px;
    width: 50%;
}
.browse_img-2{
    position: absolute;
    top:-110px;
    left: 10px;
    width: 50%;
}